<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
<body>
  <nav>
    <a href="/blog">Main Blog Page</a> |
    <a href="/newpost">Add a Blog Entry</a> |
    <a href="/login">Login</a> |
    <a href="/register">Register</a> |
    <a href="/logout">Logout</a> |
    <a href="/">Home</a>
  </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

  {% block content %}


  {% endblock %}

</body>
</html>
